.stats{
    width: 80%;
    margin: auto;
    border: 1px solid rgb(6,182,212);
    padding-top: 4px;
    padding-left:10px ;
    padding-right: 10px;
   
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}

.first{
    position: relative;
    left: 0px;
    text-align: center;
    width: 40%;
}

.second{
    position: relative;
    right: 0px;
    text-align: center;
    float: right;
    width: 40%;
}


@media only screen and (max-width: 940px) {
    .stats{
        width: 98%;
        padding: 0;
        
    }
    .stats h2{
        margin-bottom: 12px;
        font-size: 22px;
    
    }
    .stats h3{
        font-size: 12px;
        margin-top: -15px;
        font-style: bold;
        margin-bottom: 26px;
    }
  }